{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30 my-5">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Add Doctor</h2>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-6 p-3">
                        <label for="first_name" class="form-label">First name</label>
                        <input id="first_name" type="text" class="form-control">
                    </div>
                    <div class="col-6 p-3">
                        <label for="last_name" class="form-label">Last name</label>
                        <input id="last_name" type="text" class="form-control">
                    </div>
                    <div class="col-6 p-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input id="phone" type="text" class="form-control">
                    </div>
                    <div class="col-6 p-3">
                        <label for="address" class="form-label">Address</label>
                        <input id="address" type="text" class="form-control">
                    </div>
                    <div class="col-12 p-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Note</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-outline-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}