{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
   <div class="row column_title">
      <div class="col-md-12">
         <div class="page_title">
            <h2>Dashboard</h2>
         </div>
      </div>
   </div>
   <div class="row column1">
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-user yellow_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ customer_total }}</p>
                  <p class="head_couter">Customer</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-medkit blue1_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ medicine_total }}</p>
                  <p class="head_couter">Medicine</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-hospital-o green_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ doctor_total }}</p>
                  <p class="head_couter">Doctor</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-cart-plus red_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ order_total }}</p>
                  <p class="head_couter">Order</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row column1">
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-dollar green_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ total_income }}</p>
                  <p class="head_couter">Total Income</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-calendar blue1_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ last_month_income }}</p>
                  <p class="head_couter">Monthly Income</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-calendar red_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ last_day_income }}</p>
                  <p class="head_couter">Daily Income</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-calendar yellow_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">{{ last_week_income }}</p>
                  <p class="head_couter">Weekly Income</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}