{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Muzzomo</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      {% include 'shared/_HeaderReferences.html' %}
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'shared/Sidebar.html' %}
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'shared/TopNavbar.html' %}
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  {% block content %}
                    
                  {% endblock %}
                  <!-- footer -->
                  {% include 'shared/Footer.html' %}
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      {% include 'shared/_FooterReferences.html' %}
   </body>
</html>